body{
    margin: 0px;
    font-family: sans-serif;
}
nav{
    /* padding-left: 10%; */
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1c1c7e;
}
nav h1 {
    font-family: sans-serif;
    margin-left: 10%;
    color: #fff;
    flex: 1;
}  
#addButton{
    height: 40px;
    width: 250px;
    font-size: 18px;
    background-color: #069;
    margin-right: 15%; 
}
#addButton:hover{
    background-color: #1c1c7e;
    color: #fff;
    border-color: #fff;
}
i{
    margin-right: 10%;
}
#add{
    color: #fff;
    margin-left:0px ;
    font-size: 17px;
} 
#container-modal{
    display: none;/* Deixa invisivel */
    background-color: #cccccc65;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}
#form-modal{
    position: relative;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}
 
button {
    background-color: #1c1c7e;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #1c1c7e;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-family: sans-serif;
}
button:hover{
    background-color: #fff;
    color: #1c1c7e;
    border: 1px solid #1c1c7e;
}
#botao-cancelar{
    background-color: rgb(172, 9, 9);
    color: #fff;
    border: 1px solid rgb(172, 9, 9);
    width: 80%;
    font-size: 95%;
}
#botao-cancelar:hover{
    background-color: #fff;
    color: rgb(172, 9, 9);
    border: 1px solid #1c1c7e;
}
#botao-salvar{
    width: 80%;
    font-size: 95%;
}
#botao-alterar{
    width: 150px;
    height: 40px;
    font-size: 18px;
    
}
.botao-excluir{
    background-color: rgb(172, 9, 9);
    color: #fff;
    border-width: 0px;
    width: 150px;
    height: 40px;
    font-size: 18px;
}
.botao-excluir:hover{
    background-color:  #fff;
    color:rgb(172, 9, 9);
}

table{
    width: 100%;
}
th, td{
    font-family: sans-serif;
}
thead th{
    background-color: #d6d4d4;
}
thead tr th, tbody tr td{
    padding: 5px;
}
tbody tr:nth-child(even){
    background-color: #eeeeee;
}
.form-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.form-group label{
    flex: 1;
    font-family: sans-serif;
    font-weight: bold; 
    margin-right: 10px;
    align-self: center;
}
.form-group input{
    flex: 1;
    font-family: sans-serif;
    padding: 5px;
}
.form-buttons{
    display: flex;
    justify-content: center;
}
.informacoes{
    font-size: larger;
    text-align: center;
}
/* 
frame works:
tailwind
material-ui
bootstrap */